# App
APP_ENV=local

# Postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=music_platform
POSTGRES_TIMEOUT=30s

# HTTP Server
HTTP_ADDR=:8000
HTTP_SHUTDOWN_TIMEOUT=30s

# Snowflake ID Generator
SNOWFLAKE_NODE_ID=1
